<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="aune_stripe" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Aune - Stripe</label>
                <comment><![CDATA[Accept credit/debit cards in your Magento store via Stripe.]]></comment>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable this Solution</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Aune\Stripe\Model\Adminhtml\Source\PaymentAction</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="publishable_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Publishable key</label>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="secret_key" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="store_customer" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store Customer</label>
                    <comment>Create customer entity in Stripe (mandatory to enable the vault).</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="aune_stripe_vault_active" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Vault Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/aune_stripe_vault/active</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
